@scripts = {
    <link href='@routes.Assets.at("stylesheets/quill.snow.css")'
    rel="stylesheet" />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/plugins/quill.js")'></script>
}
@main("My Space (Student)", scripts) {
    <div class="container">
        <div class="row">
            <div class="card-panel">
                @interviewsPane(
                    role = "student",
                    interviews = Seq(
                        ("RA Interview - Data Science Lab", "scheduled", "2025-12-15 2:00 PM", "America/Chicago", "Zoom", "Prof. Smith, TA Johnson"),
                        ("Industry Interview - Local Org", "completed", "2025-12-05 10:00 AM", "America/Chicago", "Hybrid", "Jane Doe")
                    ),
                    bannerMsg = Some("Interviews currently unavailable. Please try again later.")
                )

                <div class="row center">
                    <h4 class="center form-signin-heading" align="center">
                        My Space
                    </h4>
                </div>
                <div class="row center">
                    <div class="col s6 m3">
                        <a href="@routes.ChallengeController.challengeListPostedByUser(1)">
                            <i class="material-icons large">assignment</i>
                            <p>Challenge Applications</p></a>
                    </div>
                    <div class="col s6 m3">
                        <a href="@routes.JobController.jobListPostedByUser(1)">
                            <i class="material-icons large">work</i>
                            <p>Posted Jobs</p>
                        </a>
                    </div>
                    <div class="col s6 m3">
                        <a href="@routes.TAJobController.tajobListPostedByUser(1)">
                            <i class="material-icons large">school</i>
                            <p>Posted TA Jobs</p>
                        </a>
                    </div>
                    <div class="col s6 m3">
                        <a href="@routes.RAJobController.rajobListPostedByUser(1)">
                            <i class="material-icons large">live_help</i>
                            <p>Posted RA Jobs</p>
                        </a>
                    </div>
                    <div class="col s6 m3">
                        <a href="@routes.UserController.userRegisterPage()">
                            <i class="material-icons large">person_add</i>
                            <p>Register Researcher</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}